{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "allowParens": "es5",
  "jsxBracketSameLine": true,
  "printWidth": 120,
  "arrowParens": "avoid"
}
